# Created by Jacob Strieb

# Ignore Python files in the language detection
*.py linguist-detectable=false

# Reclassify Markdown files as HTML since they typically include inlined HTML
*.md linguist-language=HTML
