/* Styles for all regular elements */

html {
  background: black;
  color: limegreen;
  padding: 25px;
  font-family: serif;
}

body {
  max-width: 70ch;
  display: block;
  margin: auto;
  padding: 0;
  padding-bottom: 50px;
}

a {
  color: inherit;
  overflow-wrap: break-word;
}

hr {
  border-color: limegreen;
  background-color: limegreen;
  color: limegreen;
}

pre {
  background: #383838;
  padding: 10px;
  border-left: 3px solid;
  overflow: auto;
  page-break-inside: avoid;
}

pre code {
  white-space: nowrap;
}

p {
  text-align: justify;
  font-family: serif;
}

img, video {
  /*
<<<<<<< HEAD
  max-width: 100%;
  width: 100%;
=======
  max-width: min(70ch, 100%);
>>>>>>> master
  */
  max-width: min(70ch, 100%);
  width: 100%;
  display: inline-block;
}

video {
  min-width: min(70ch, 100%);
}

blockquote {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 3px solid;
}

blockquote p {
  text-align: left;
}

figcaption {
  text-align: center;
}

code {
  background: #383838;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 1.5px;
}

h1 {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}

h2 {
  margin-top: 1em;
}

details summary {
  cursor: pointer;
}

summary h1, summary h2, summary h3, summary h4, summary h5, summary h6 {
  display: inline;
}



/* Inline SVG graphics */

svg {
  width: 100%;
}

svg * {
  stroke: limegreen;
  fill: none;
}

svg .text * {
  stroke: none;
  fill: limegreen;
}



/* Centered math */

.math.display {
  display: block;
  text-align: center;
}



/* Noscript messages should display big and bold */

noscript, .noscript {
  display: block;
  margin: 2em;
  padding: 2em;
  border: 5px solid limegreen;
  border-radius: 3px;
}



/* Hoverable buttons */

.button-container {
  padding: 1em;
  text-align: center;
}

a.button {
  color: limegreen;
  text-decoration: none;
  border: 2px solid;
  border-radius: 3px;
  padding: 0.5em;
}

a.button:hover {
  color: black;
  background: limegreen;
  text-decoration: none;
  border: 2px solid limegreen;
}



/* Menu and footer styling */

.menu hr {
  border: 0;
  border-top: 3px solid;
}

.menu {
  padding: 5px;
  padding-bottom: 25px;
  text-align: center;
  font-family: sans-serif;
}

.menu ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.75em;
  text-align: center;
  flex: 1;
  /* text-transform: uppercase; */
}

.menu li a {
  text-decoration: none;
  border: 0;
  padding: 10px;
}

.menu li a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding-top: 50px;
}

footer hr {
  border-top: 2px solid;
}



/* Projects page custom styles */

.projects ul {
  list-style-type: none;
  padding: 0;
}

.projects li {
  padding: 20px;
  border: 1px solid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projects li div {
  display: flex;
  justify-content: space-between;
}



/* Add spacing for footnotes section of posts */

.footnotes {
  padding-top: 25px;
}

.footnotes p {
  text-align: left;
}



/* Make the avatar on the about page have a rounded border */

.avatar {
  width: auto;
  display: block;
  margin: auto;
  border: 5px solid;
  border-radius: 168px;
}



/* Adjust the appearance of the contact form on the about page */

.contact-form {
  width: 100%;
  max-width: 100%;
  height: 20ch;
  display: inline-block;
  margin: auto;
  padding-bottom: 2em;
}

.contact-form form {
  width: inherit;
  height: inherit;
  display: contents;
}

.contact-form textarea, .contact-form input {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 0.5em;
  background: black;
  color: limegreen;
  border: 1px solid limegreen;
  border-radius: 0.25em;
  margin-bottom: 1em;
  box-sizing: border-box;
  font-family: monospace;
}

.contact-form textarea {
  height: 100%;
}

.contact-form button {
  background: black;
  color: limegreen;
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid limegreen;
  border-radius: 0.25em;
}

.contact-form .alert {
  /* font-family: sans-serif; */
  opacity: 0;
  transition: opacity 0.25s;
}

